# ============================
# Python
# ============================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ============================
# Virtual Environment
# ============================

venv/

# ============================
# Environment Variables
# ============================

.env

# ============================
# IDE
# ============================

.vscode/
.idea/

# ============================
# OS Files
# ============================

.DS_Store
Thumbs.db

# ============================
# Generated Data
# ============================



# ============================
# Logs
# ============================

*.log